doctype html 
html 
  head
  block head 
      meta(charset='UTF-8')
      //- meta (name='viewport' content='width=device-width, initial-scale=1.0') cant give space 
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      // /path because it will automatically take the root url..
      link(rel='stylesheet' href='/css/style.css')
      link(rel='icon' type='/image/png' href='/img/favicon.png')
      title Natours | #{title}
  //- COPY FROM GITHUB
  //- body(data-alert=`${alert ? alert : ''}`)      

  body 
    //HEADER
    include _header

    //CONTENT
    block content 
      h1 all the template in which base template is extended will copy here..

    // FOOTER
    include _footer 
    // AXIOS FOR SENDING HTTP REQUEST TO THE SERVER FROM CLIENT SIDE..(WILL AVAIBLE IN ALL TEMPLATE WHERE BASE IS EXTRACTED.)
    // No need of axios cdn now i'm importing it from npm and bundle it
    //- script(src="/js/axios.min.js")
    //-  // LINKING THE login.js to login page
    //- script(type="module" src="/js/login.js")
    // LINKING THIS TO bundle.js which has all the code and dependencies
    // index.js->import files/fuctions from the login.js -> then it will select the required elements from tempelete
    // and do required action and bundle into bundle.js from where i'm serving to you.. 
    //- script(src="https://js.stripe.com/v3/")
    //- script(src='https://js.stripe.com/v3/')
    script(src='/js/bundle.js')
    //- script(src='/js/login.js')